#article{
	padding-top: 60px;
}

.article{
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ccc;
	padding: 30px;
	margin-bottom: 66px;
}

.article__title, .num{
	font-size: 24px;
	font-weight: 500;
	color: #8c8c8c;
	text-align: center;;
	margin-bottom: 17px;
}

.num{
	margin-right: 21px;
}

.article__text{
	color: #353535;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px
}
.soc_hover i:hover {
	position: relative;
	top: 5px;
	padding: 0px 5px 0px 5px
}
.rot:hover {
-webkit-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.b {
	margin: 0 auto;
	position: relative;
	top: 10px
}
#button {
	display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition:  
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background-image: url(../images/.png);
  background-repeat: no-repeat;
  left: 40px
}
#button::after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
}
#button:hover {
  cursor: pointer;
}

#button.show {
  opacity: 1;
  visibility: visible;
}