@media (max-width: 1920px) and (min-width: 1200px){
		.bg-left,.bg-right{
		order: 0!important;
	}	

}

@media (max-width: 1200px) and (min-width: 800px){
	.text-rotate,.mobile-main {
		display: none;
	}
	.bg-left,.bg-right{
		order: -1
	}
	.domload-link {
		padding: 260px 0px 100px 0px
	}
	.header-text {
		padding: 100px 0px 50px 0px
	}
	.coll-1 {
		flex: 30%!important;
		width: 30%!important
	}
}

/*mobile*/
@media (min-width: 320px) and (max-width: 812px){
	main,footer {
		display: none;
	}
	.bg-right,.bg-left{
		order: -1
	}
	.mobile-text h2{
		 	font-size: 16px;
		 	letter-spacing: 0.25em
		}
	.mobile-text h1 {
		font-size: 30px!important
	}
	.mobile-text h1 {
		padding-top: 53px
	}
	.btn span{
		font-size: 12px!important;
		letter-spacing: 0.04em
	}
	.posi-left {
		width: 250px
	}
	.posi-rig {
		width: 230px;
		position: relative;
		left: 90px;
		bottom: 25px
	}
	.footer-text-opt {
		padding: 10px 0px 10px 5px;
	}
	.footer-text-opt h2 {
		font-weight: bold;
		font-size: 16px!important
	}
	.text-domload h5 {
		font-size: 9px;
	}
	.text-domload a {
		padding-right: 5px!important
	}
}

/*landscare*/
@media (max-width: 812px) and (min-width: 568px){
	.mobile-main,.text-rotate,.botton,.domload-link {
		display: none;
	}
	main {
		display: block;
	}
	footer {
		display: flex;
	}
	.footer-text h5 {
	font-size: 16px!important;
	}
	.footer-text h6 {
		font-size: 12px!important
	}
	.footer-text {
		padding: 15px
	}
	.bg-right,.bg-left {
		order: 0
	}
	.footer-block-text h3 {
		font-size: 12px!important
	}
	.footer-block-text p{
		font-size: 9px!important
	}
	.footer-block-text {
		padding: 20px 0px 0px 0px!important
	}
	.heig-lg {
		height: 59px!important
	}
	.header-text h1{
		font-size: 30px
	}
	.header-text h2 {
		font-size: 16px
	}
	.header-text {
		padding-bottom: 50px
	}
}


@media (max-width: 1366px) and (min-width: 1024px){
	.bg-right,.bg-left{
		order: 0
	}
	.domload-link {
		max-width: 100%!important;
		flex: 100%!important;
		justify-content: flex-end;!important;
		display: flex;
	}
	.domload-link a {
		padding: 0px 30px 0px 10px!important
	}
}

@media (max-width: 1024px) and (min-width: 768px){
	.domload-link {
		padding: 100px 0px 150px 0px
	}
}