@media (max-width: 1366px) and (min-width: 1024px){
	.text-anonsi h1 {
		font-size: 45px!important;
		letter-spacing: 0.1em
	}

} 
@media (max-width: 1366px){
		.contact-img{
		height: 400px!important
	}	

}
@media (min-width: 1366px){
	.text-padd {
		padding-left: 10%!important
	}
	.mobile-contact  {
		padding-left: 5%
	}
	.posi-ab{
		left: 0%;
		top: 112%
	}
	.img-text {
		font-size: 90px!important;
		bottom: 0%
	}
	.footer-block {
		padding-top: 30%
	}
	.p-options {
		max-width: 63%
	}
.footer-block{
	max-width: 100%;
	margin-left: 30%
}
	/*anonsi*/

}

@media (max-width: 812px) and (min-width: 320px) {
	.pdd-anonsi {
		padding: 15px!important
	}
	.none-block {
		display: none!important;
	} 
	.history-block-one h2 {
		font-size: 20px
	}
	.posi-ab {
		position: absolute!important;
		bottom: 0px;
		right: 70%;
	}
	.posi-ab img {
		width: 150px;
		height: 180px;
	}
	.posi-rel {
		margin: 0px!important;
	}
	.text-history-header {
		padding-left: 24%
	}


	.history-block h1 {
		font-size: 43px!important
	}
	.hi-text h2 {
		font-size: 45px!important
	}
	.time-block span {
		padding: 6px!important
	}
	.grafik span {
		font-size: 9px!important
	}
	.text-padd {
		padding: 20px!important
	}
	.history-text-mobile {
		justify-content: flex-start!important;
		display: flex;
	}

	/*anonsi*/
	.text-anonsi {
		width: 30%
	}
	.col-6 {
		max-width: 100%;
		flex: 100%
	}
	.activ {
		top: 10px!important;
		right: 5%!important
	}


	/*contact*/
	.grafik span {
		line-height: 13px!important
	}
	.block-clock span{
		line-height: 0px!important;
	}
	.block-pt {
		padding-top: 0px!important
	}
	html {
		overflow: auto!important;
	}
}


@media (min-width: 375px){
		.posi-ab {
		bottom: 12%!important
	}
}
@media (min-width: 568px) and (max-width: 568px){
	.text-history-header {
		width: 100%
	}
	.posi-ab {
		right: 75%!important;
		top: 137%!important;
		right: 10%;
		bottom: 10%
	}
	.d-no {
		display: block!important;
	}
	.accord-text-options h5 ~ div p {
		padding-top: 0px!important
	}
	.activ {
		top: 10px!important;
		right: 5%!important
	}
	.prr-5{
		padding: 10px 58px 0px 0px!important
	}
	.ptt-4 {
		padding: 10px 0px 0px 0px!important
	}
	.text-anonsi  {
		display: flex;
	}
	.anonsi-botton {
		display: flex;
		justify-content: flex-start!important;
	}



}

@media (max-width: 736px) and (min-width: 414px) {
		.posi-ab {
		bottom: 13%!important
	}
}

@media (max-width: 812px) and (min-width: 568px){
	.posi-rel{
		margin: 0px 100px 0px 100px!important
	}
	.d-no {
		display: none
	}
	.none-block {
		display: block!important;
	}
	.block-mobil-contact{
		display: flex!important;
		justify-content: space-between;
	}
		.grafik span {
		font-size: 12px!important
	}
		.grafik span {
		padding: 3px!important
	}

	/*anonsi*/
	.col-6 {
		max-width: 50%!important;
		flex: 50%!important
	}
	.prr-5{
		padding: 10px 58px 0px 0px!important
	}
	.ptt-4 {
		padding: 10px 0px 0px 0px!important
	}
	.text-anonsi  {
		width: 100%!important;
		padding: 50px 0px 50px 0px
	}
	.anonsi-botton {
		display: flex;
		justify-content: flex-start!important;
	}
	/*contact*/
	.contact-text-footer{
		width: 100%!important
	}
	html {
		overflow: auto!important;
	}

}

@media (max-width: 812px) and (min-width: 667px){
	.posi-rel .text-padd {
		left: 0px!important
	}	
	.posi-rel {
		width: 80%;
	}
	.posi-ab {
		position: absolute;
		bottom: 5%!important;
		right: 80%
	}
	.posi-ab img {
		width: 200px;
		height: 200px;
	}

	.text-history-header p {
		width: 60%
	}
	.text-history-header {
		padding-left: 10%!important
	}
	.bg-2{
		order: 0!important
	}
	.p-options {
		width: 99%!important
	}
}

@media (max-width: 812px) and (min-width: 320px){
	}
@media (min-width: 320px){
	.posi-ab{
		bottom: 26%
	}
}



@media (min-width: 1024px) {
				.text-anonsi  {
		width: 30%!important;
		padding: 50px 0px 50px 0px
	}
	.block-mobil-contact{
		max-width: 65%;
	}
	.text-zoom {
		max-width: 130%!important;
		flex: 130%!important;
		z-index: 999
	}
	.posi-rel {
		margin: 0px 0px 0px 300px!important
	}
	.posi-ab {
		bottom: 10%!important;
	}
	.text-history-header h1 {
		font-size: 40px!important
	}
	.posi-ab img {
		width: 260px
	}

	.mobile-contact{
		padding-left: 3%!important;
	}
	.contact-img{
		height: 100%!important
	}

	.footer-block {
		margin-left: 30%
	}	


	/*contact*/


}

@media (max-width: 1024px){
	.text-history-header{
		padding-left: 20%!important;
	}

	.img-text {
		font-size: 110px!important
	}


	/*anonsi*/

	/*contact*/

	.contact-img  {
		width: 100%!important;
		z-index: -99;
		clip: inherit;
		overflow: hidden!important;
		height: 440px
	}
	.contact-img img{
		width: 100%!important
	}




} 

@media (max-width: 768px) {

	.anonsi-botton{
		justify-content: flex-end!important;
		display: flex;
		margin-left: 22%
	}
	.time-block span{
		padding-top: 10%;
	}

	/*contact*/
	.contact-img img {
		width: 100%!important
	}

}
@media (max-width: 1440px) and (min-width: 1440px){
	.block-mobil-contact{
		display: flex;
		justify-content: space-between;
	}
		.text-zoom {
		max-width: 100%!important;
		flex: 100%!important;
	}
	.mobile-contact {
		padding-left: 60px!important
	}
	.img-text {
		bottom: 0px!important;
		right: 00%!important;
		font-size: 200px!important
	}
}



@media (max-width: 1440px) and (min-width: 1024px) {
	.block-mobil-contact {
		max-width: 130%;
		flex: 130%;
		display: flex;
		justify-content: space-between;
	}
	.text-anonsi  {
		width: 30%!important;
		padding: 50px 0px 50px 0px
	}	
	.anonsi-botton{
		justify-content: flex-end!important;
		display: flex;
		margin-left: 10%
	}

	}




@media (max-width: 1366px) and (min-width: 1024px){
	.img-text {
		position: relative;
		bottom: 0px
	}
	.mobile-contact  {
		padding-left: 5%
	}
}

@media (min-width: 956px){
			.mobile-contact  {
		padding-left: 13%
	}
	.text-zoom {
		max-width: 90%;
		flex: 90%
	}
}


@media (max-width: 812px) and (min-width: 375px){
	.language {
		padding-left: 100px
	}
	/*contact*/
	.contact-text-footer{
		width: 100%
	}

}



@media (max-width: 568px) and (min-width: 320px){
	.block-mobil-contact h5 {
		font-size: 16px
	}
	.date {
		padding-left: 30px!important
	}
	.block-clock h5 {
		padding-bottom: 10px
	}
	.grafik,.block-clock {
		padding-left: 10px
	}
	.offer {
		padding-left: 0px!important 
	}
	
	/*anonsi*/


}

@media (min-width: 2560px){
	.mobile-contact {
		padding-left: 10%
	}

	.block-mobil-contact {
		display: flex;
		justify-content: space-between;
		max-width: 60%
	}
	.text-zoom {
		max-width: 80%!important;
		flex: 60%;
	}
	.posi-ab  {
		top: 102%!important
	}
	.p-options p{
		width: 80%!important;
		font-size: 20px!important
	}
	.posi-ab img {
		width: 315px;
		height: auto;
	}
	.text-history-header  {
		width: 50%
	}
	.text-history-header p {
		font-size: 18px
	}
	.text-padd{
		padding-left: 20%!important;
	}
	.footer-block div{
		width: 50%
	}
	.p-options{
		width: 30%!important
	}
	/*anonsi*/
	.text-anonsi {
		width: 30%;
	}
	.anonsi-botton {
		margin-left: -17.5%
	}

}

@media (min-width: 1760px){
	.posi-ab  {
		bottom: 5%!important
	}
	.footer-block h3{
		padding-bottom: 5%
	}
		/*anonsi*/
	.text-anonsi {
		width: 30%;
	}
	.anonsi-botton {
		margin-left: -17.5%
	}

}
@media (max-width: 2560px) and (min-width: 2560px) {
		.img-text {
		bottom: 0px!important;
		right: 30%!important;
		font-size: 140px!important;
		margin-top: 95px
	}
	.posi-rel{
		    margin: 0px 470px 0px 740px!important;
	}

}
@media (max-width: 1905px) and (min-width: 956px){
		.block-mobil-contact {
		display: flex;
		justify-content: space-between;
		max-width: 70%
	}
}
/*specification*/
.no-gutters {
	padding: 0px;
}
.contact-footer-bg {
	background-image: url(../images/cart.png);
	background-size: cover;
}
.bg-fon-contact{
	background: #222222!important
}
.pl-6{
	padding-left: 4em
}


@media (min-width: 768px){
	.posi-ab {
		position: absolute!important;
		bottom: 6%!important;
	}
	.text-history-header {
		padding-left: 0%!important
	}

	/*contact*/
	

}
@media (min-width: 1536px) {
	.posi-ab {
		top: 103%
	}
	.text-anonsi  {
		width: 40%;
	}
	.p-options{
		width: 100%!important
	}
}
@media (min-width: 1125px){
	.mobile-contact{
		padding-left: 19%!important
	}

	.block-mobil-contact{
		padding-top: 5%!important
	}

	.contact-text-footer p {
		font-size: 13px!important
	}
}
@media (max-width: 2560px) and (min-width: 2000px){
	.posi-rel{
		margin: 0px 630px 0px 740px!important
	}
}
@media (max-width: 2000px) and (min-width: 1600px){
		.posi-rel{
		margin: 0px 363px 0px 430px!important
	}
}

@media (min-width: 1280px){
	.text-anonsi h1{
		font-size: 40px!important
	}
	.zoom-text h5{
		font-size: 25px!important
	}
	.zoom-text h5 ~ span {
		font-size: 12px
	}
	.accord-text-options h5{
		font-size: 
	}
}

@media  (min-width: 1025px) and (max-width: 1370px) {
	.section-p-options p {
		font-size: 12px!important;
	}
	.p-options {
		width: 100%!important;
	}
	.section-fou p {
		font-size: 12px!important
	}

}

@media (min-width: 1906px) and (max-width: 2559px){
	.block-clock{
		padding-left: 20%
	}  
}










.accord-text-options h5 ~ div p {
	color: #BBBBBB
}
.anonsi-botton{
	max-width: 1221px;
  	width: 100%;
  	margin: 0 auto
}
.text-anonsi h1 {
	font-size: 71px
}

