#projects{
	padding-top: 60px;
}

.projects__item{
	padding: 25px 38px 45px 32px;
	margin-bottom: 77px;
}

.projects__item:hover{
	box-shadow: 0 5px 10px #ccc
}

.projects__title{
	font-size: 24px;
	color: #555
}
.projects__item:hover .project_preview{
	border-color: #C1272D
}



.project_preview{
	border: 1px solid #c4c4c4;
	border-radius: 50%;
	margin-top: 25px;
}
@media (min-width: 548px) and (max-width: 706px){
	.projects__item:hover {
		
	}
}

.soc_hover i:hover {
	position: relative;
	top: 5px;
	padding: 0px 5px 0px 5px
}
.rot:hover {
-webkit-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.b {
	margin: 0 auto;
	position: relative;
	top: 10px
}
#button {
	display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition:  
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background-image: url(../images/.png);
  background-repeat: no-repeat;
  left: 40px
}
#button::after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
}
#button:hover {
  cursor: pointer;
}

#button.show {
  opacity: 1;
  visibility: visible;
}