
aside {
  height: 100%;
  width: 100%;
  transform: translate(0%,-200%);
  transition: all 0.7s;
  top: 0px;
  display: flex;
  position: absolute;
  box-shadow: 14px 14px 20px 0 rgba(0, 0, 0, 0.3);
  transition-duration: 3.5s
}

span {
  width: 100%;
  z-index: -99;
  display: block;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: solid 1px #607D8B;
  padding: 2rem 0;
  font-size: 1rem;
  transition: all 1.1s;
  color: #dae8ee;
  transition: all 1.5s;
}
span:hover {
  cursor: pointer;
  background: #37474F;
}



input {
  display: none;
  margin: 3em;
  float: right;
}

input + label {
  display: inline-block;
  background: transparent;
  font-size: 2.7em;
  color: #252930;
  z-index: 999;
  position: absolute;
  right: 20px
}

input + label:hover {
  cursor: pointer;
  z-index: 999
}

input:checked + label + aside {
  transform: translate(0);
}