header{
	background-image: url(../images/fon.jpg);
	background-size: cover;
	height: 100%;
	padding-bottom: 178px
}
a,a:hover {
	text-decoration: none;
	color: inherit;
}
h1 {
	font-size: 60px;
	color: black;
}
h2{
	font-size: 40px;
	font-weight: 700
}
p {
	font-size: 20px;
	color: white;
}
p a:hover {
	border-bottom: 3px solid red;
}
p:hover{
	color: #33cccc;
}
.btn{
	margin-right: 20px;
	background: #669999;
}
.btn:hover {
	transform: translateY(20%);
}
.cart {
	margin-right: 500px;
}
/*botton*/
@media (min-width: 320px) and (max-width: 812px){
	.cart {
		margin-right: 0px;
		margin: 0 auto;
	}
	header {
		background-position: auto;
	}
}