// contact-html 
@media (max-width: 1200px) and (min-width: 800px)
	.mobile-version-contact
		padding-left: 50px!important
	.none 
		display: none
	.text-options h1 
		font-size: 3.5em!important
	.domload 
		justify-content: flex-end
	.block-text 
	    bottom: 0px!important
	.block-text,.footer-glavnou
		position: relative!important


@media (max-width: 812px) and (min-width: 320px)
	.mobile-version-contact
		padding-left: 0px!important
	h1
		font-size: 30px!important
	.span 
		font-size: 29px!important
	.grafik 
		justify-content: flex-start
		padding: 0px 0px 20px 0px
	.language-one,.dd-none,.display,.none
		display: none!important
	.logo 
		width: 120px!important
	.mobile-version-contact span
		font-size: 9px
	.block-clock span 
  		font-size: 9px!important
	.time-block span
		padding: 6px
	.mobile-version-contact
		padding-left: 0px!important
	.text-block-1
		padding: 59px 0px 0px 0px
		font-size: 9px
		width: 155px
	.position-text  h1
		float: right!important
		font-size: 16px!important
	.text-position
		width: 0px!important
	.shoy-text h1,.navbar-toggler,.history-block
		padding: 0px!important
	.shoy-text h1
		line-height: 30px!important
	.pad-5 
		padding: 0px 0px 20px 0px!important
		justify-content: flex-start!important
	.bg-fon-one
		background-position: -228px 14px
	.navbar 
		padding: 0px!important
	.section-fou h3
		font-size: 29px!important
	.text-position-bottom h1 
		font-size: 80px!important
		position: absolute
		left: -17px
		bottom: -122px
	.img-text 
		font-size: 80px!important
		padding-top: 120px!important
		bottom: 0px
	.section-two 
		padding: 163px 0px 0px 0px!important
		p
			font-size: 9px!important
	.section-p-options 
		order: 2!important
		p 
			font-size: 9px!important
	.hi-text
		h1 
			font-size: 19px!important
		p 	
			font-size: 9px
	.section-fou 
		h3 
			font-size: 16px!important
		p 
			font-size: 9px!important
	.posi-ab
		margin: -205px 0px 61px -147px!important
	.posi-rel
		margin: 0px 0px 0px 20px!important
		img 
			width: 220px
			height: 300px
			z-index: 99
		.text-padd 
			padding-left: 100px!important
	.section-fou h3
		padding: 0px!important
	.size
		bottom: -72px!important
		h1 
			font-size: 80px!important
	.history-block 
		padding-top: 200px!important
		h2 
			font-size: 16px!important
	.bg-2 
		order: -2 
		display: block!important
	.md-none
		display: none!important
	.text-options h3 
		font-size: 16px
	.block-text 
		display: block!important
	.block-1
		width: 195px!important
		padding: 10px!important
	.bg-fon-history
		background-position: top!important
	.section-tri 
		padding-top: 100px
	.mobile 
		display: none

@media (max-width: 1366px) and (min-width: 1024px)
	h1 
		font-size: 75px!important
	.hi-text
		h1 
			font-size: 29px!important
		p 	
			font-size: 16px
	.img-text
		font-size: 80px!important
	.size  
		bottom: -67px!important
	.bg-2 
		display: block!important


@media (max-width: 568px) and (min-width: 320px)
	.text-block-1 
		width: 290px!important
		transform: translate(76%, -76%)!important
		font-size: 13px!important
	.section-block-position 
		width: 212px!important
		right: 237px!important
	.none-block 
		display: none!important

@media (max-width: 1440px) and (min-width: 320px)
	.mobile-version-contact
		padding-left: 40px!important


@media (max-width: 1024px) and (min-width: 768px)
	.posi-rel
		margin: 0px 0px 0px 214px!important
	.text-padd
		padding-left: 127px!important
	.hi-text
		h1 
			font-size: 25px!important
		p 	
			font-size: 12px
	.section-fou 
		h3 
			font-size: 25px!important
		p 
			font-size: 12px!important
	.section-two 
		p
			font-size: 12px!important
	.section-p-options 
		p 
			font-size: 9px!important
	.section-fou h3 
		padding-bottom: 0px!important
	.posi-left,.posi-rig
		bottom: -53px!important 
	.footer-text-opt 
		p 
			font-size: 12px!important
	.text-domload 
		padding-top: 5px
		h5 
			font-size: 12px!important
	.block-time h4 
		font-size: 30px!important



@media (max-width: 812px) and (min-width: 568px) 
	.block-mobile 
		display: flex 
		justify-content: space-around
// specification-class
.prr-5
	padding: 82px 58px 0px 0px
.ptt-4 
	padding: 82px 0px 0px 0px
.pad-5
	padding: 0px 352px 69px 0px 
	