body 
  font-family: 'Charm', cursive
img 
  max-width: 100%

$size42: 3em
$size60: 10em
$size24: 1.5em
.sec-1
h2
  font-size: $size60
  font-family: 'Open Sans', sans-serif
  -webkit-text-stroke-color: black
  -webkit-text-stroke: 1px white
  -webkit-text-fill-color: transparent
.botton 
  width: 10px
  height: 10px
  border-radius: 60%
  background-color: white

.sec-2 
  margin: 550px 0px 0px 0px
  background-color: white
  h3
    font-size: $size42
    padding: 120px 0px 50px 0px
.gallery-options img
  height: 350px
.gallery-options
  margin-bottom: 100px
.img-writers 
  img 
    width: 1000px
    height: auto



  
