// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import url('colorSize.css'),url("effects.css")
// specification 
a,a:hover 
  text-decoration: none 
  color: inherit
// header-nav-menu
.ptt-5
  padding-top: 47.5px
.logo
  width: 165px
  height: auto

.navbar-light .navbar-nav .nav-link
  font-weight: 500
  margin-left: 44px

.language-one h2 
  padding: 0px 8px 0px 0px
.language h2 
  padding: 0px 8px 0px 0px
.link-text
  padding: 0px 5px 0px 0px
  position: relative
  top: -5px
img 
  max-width: 100%
li 
  list-style: none
// content
.bg-fon
  font-family: 'Montserrat', sans-serif
  background-image: url(../images/fon.png)
  height: auto
  background-repeat: no-repeat
  background-size: cover
.text-rotate
  transform: rotate(-90deg)
  margin-top: 300px
main 
  margin-top: 100px
.text-options 
  h3 
    letter-spacing: 0.05em
    text-transform: uppercase
.btn 
  font-size: 16px
  letter-spacing: 0.04em
  padding: 10px 40px
  border: none
  border-radius: 2px
.transform-text
  text-transform: uppercase
.domload 
  padding-top: 95px
.apple,.google 
  a
    border: 1px solid white
    border-radius: 3px
.google a
  padding: 11px
.apple a 
  padding: 5px
// footer
.footer-glavnou 
  position: absolute
  bottom: 0px
  padding: 0px 
  margin: 0px
.block-text
  position: absolute
  right: 0px
  bottom: 0px 
.block-text
  padding: 0px 
  margin: 0px
  h2 
    font-size: 20px
    font-weight: bold
  >div 
    font-size: 12px
    color: #29292D
    font-weight: bold
    >div:nth-child(3)
      color: #AB4FF2
      font-size: 14px
      font-weight: 600
  .block1,.block2
    padding: 35px 70px 35px 35px
    width: 100%
// mobile-menu 
.navbar-mobile-menu li 
  padding-top: 10px
.navbar-mobile-menu
  position: absolute
  background: #222222
  z-index: 99
  top: 0px
  width: 100%
  padding: 80px
.navbar-toggler
  z-index: 999
  border: none
  top: -20px
  position: absolute
  right: 0px
// contact-html

.bg-fon-contact
  background: linear-gradient(0deg, #232323, #232323)
  min-height: 100vh

.mobile-version-contact
  padding-left: 210px
.official 
  margin: 0px 
  padding: 0px
@import url("mobile.css")